<!DOCTYPE html>
<html lang="zh-cn" {% block html %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="xa5I7tBFcv" />
    <!--手机html -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mainapp/main.css" />
    <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    {% block css%} {% endblock%}
</head>
<body>
   <div>
       {% include 'includes/nav.html' %}
   </div>
   <br/>
   <br/>
   <div id="main">
       {% block main %}{% endblock %}

       <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
   </div>
   {% block js %}{% endblock %}
   <script language="JavaScript" src="/static/js/jquery-2.2.3.min.js"></script>
   <script language="JavaScript" src="/static/js/bootstrap/bootstrap.min.js"></script>
   <script language="JavaScript" src="/static/js/jquery.cookie.js"></script>
   <script language="JavaScript" src="/static/js/base.js"></script>
</body>
</html>