html { overflow: scroll; }

body,html {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
}
.nav-zf{
    background-color:#0767c8;
    color: #ffffff;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px;

}

.nav-zf .navbar-nav > li > a{
    color: #fff;

    font-size: 17px;
}

.nav-zf .navbar-nav > li > a:hover{
    color: #ff8800;
    background-color: #2222ff;
}

.nav-btn{
    background-color: #3f88ff;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    border: 0;
}

.nav-btn:hover {
    background-color: #2222ff;
    color: #ff8800;
}
/*下拉菜单 */
.navbar .nav > li:hover .dropdown-menu {
	display: block;
}

.nav-drop-menu{
    margin:0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0767c8;
}

.nav-drop-menu >li{
    height: 35px;
}

.nav-drop-menu >li >a{
    height: 35px;
    padding: 8px;
    font-size: 16px;
    color: #ffffff;
}

.ava{
    margin: 0;
}

.nav_me{
    height: 49px;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #e5e5e5;
}

#main{
    position: relative;
    min-height: 100%;
}


#main-body{
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 80px;
}
#content{


    margin-right:3%;
    margin-left: 2%;
}

#side{
    padding-left: 8%;
    padding-right: 8%;
}

.div_hr{
	margin-right: auto;
	width:100%;
	height:2px;
	border-top:1px solid #e3e3e3;
	clear:both;
    margin-top: 6px;
    margin-bottom: 6px;
}

.answer-zf .approval{
    color: #888888;
}

.answer-ava{
    margin-top: 10px;
}

.flo-que-me{
    color: #888888;
}

.answer-bottom,.question-bottom{
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 0;
}

.rside a{
    color:#888888;
}

.rside a:hover{
    color: #0767c8;
    text-decoration: none;
}
.rside .rside-title{
    color: #111111;
    font-size: 16px;
}

.rside div{
    padding-top: 4px;
    padding-bottom: 4px;
}

button,input[type="button"],input[type="submit"]{
    cursor: pointer;
    -webkit-appearance: button;
}

.login-email,.login-pwd,.register-email,.register-pwd{
    border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	height: 35px;
	line-height: 21px;
	color: #333;
	width: 260px;
	vertical-align: baseline;
}

.popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#888;
	opacity:0.6;
	filter:alpha(opacity=60);
    display: none;

}

.theme-popover{
	z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:600px;
	height:340px;
	margin:-170px 0 0 -300px;
	border-radius:5px;
	border:solid 1px #888;
	background-color:#fafafa;

	box-shadow: 0 0 10px #666;
    display: none;
}

.reg-popover{
    z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:600px;
	height:400px;
	margin:-200px 0 0 -300px;
	border-radius:5px;
	border:solid 1px #888;
	background-color:#fafafa;

	box-shadow: 0 0 10px #666;
    display: none;
}

.login-title,.register-title{
    border-bottom: 1px solid #ddd;
    padding: 6px 12px 1px 20px;
    position: relative;
    color: #ff5500;
}

.login-form,.register-form{
    padding-top:40px;
    padding-right: 30px;
    padding-left: 100px;
    height: 150px;


}

.login-title .login-close,.register-title .register-close{
    float: right;
    padding: 10px;
    color: #999999;
    font-size: 18px;
}

.login-title .login-close:hover,.register-title .register-close:hover{
    color: #333;
}

.signin .register{

    margin: -20px -20px -50px -80px;
    text-align: center;
    font-size: 14px;
}


.signin li,.register li{
    padding-left:3px;
    margin-bottom: 12px;
    margin-top: 12px;
    list-style-type: none;
}

.signin li span,.register li span{
    margin-right: 2px;
    width: 10px;
    text-align: right;
    line-height: 32px;
}

.btn-login,.btn-register{
    margin-left:20px;
    width: 260px;
}

.reg-error{
    border: solid 1px #ff3300;
    background-color: #eeeeee;
    color: #ff1100;
    display:none;
    line-height: 24px;
}

#login-error,#reg-error{
    color: red;
    font-size: 16px;
    padding-left: 20px;
}

#messages{
    margin-top: -10px;
    background-color: #ffdede;
    width: auto;
    margin-bottom: 10px;

}

#messages li{
    list-style-type: none;
    height: 25px;
    font-size: 17px;
}
