<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
        <div class="answer-ava">
            <img src="/static/img/ava.jpg"/>
        </div>
        <div>
            1000
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 answer-zf">
        <div class="approval">
           <a href="" class="">Fantasy</a>&nbsp;赞同该答案
        </div>
        <div>
            <a href="">什么什么是种怎样的体验</a>
        </div>
        <div>
            <a href="">某某</a>，我的简单介绍咯
        </div>
        <div>
            ddddddddddddddddddddddddd<br/>
            sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss<br/>
            sssssssssssssssssssssssss<br/>
            sssssssssssssssssssssssss<br/>
            sssssssssssssssssssssssss<br/>
        </div>
        {% include 'includes/smallpart/answer_bottom.html' %}


    </div>
</div>